ENABLE_BITCODE = NO
FRAMEWORK_SEARCH_PATHS = "$(PODS_ROOT)/TestLibrary" "$(PODS_ROOT)/XXX" "$(PODS_ROOT)/YYY" "$(PODS_ROOT)/aaa" "$(PODS_ROOT)/zzz" $(inherited)
OTHER_LDFLAGS = $(inherited) -framework "TestLibrary" -framework "YYY"
OTHER_LDFLAGS[sdk=iphoneos*] = $(inherited) -weak_framework "MetalPerformanceShaders"
OTHER_LINK_FLAG = $(inherited) -ObjC
OTHER_SWIFT_FLAGS = $(inherited) "-D" "COCOAPODS"
PODS_BUILD_DIR = $BUILD_DIR
PODS_CONFIGURATION_BUILD_DIR = $PODS_BUILD_DIR/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
PODS_ROOT = ${SRCROOT}/Pods
